---
type Props = {
  title: string;
  description: string;
  category: string;
  pubDate: Date;
  heroImage: string;
  slug: string;
};

const { title, description, category, pubDate, heroImage, slug } = Astro.props;
---

<article 
  class="bg-white rounded-lg overflow-hidden shadow-md transition-all duration-300 hover:shadow-[0_0_15px_rgba(59,130,246,0.7)]"
  transition:name={`post-${slug}`}
>
    <a href={`/noticias/${slug}/`}>
        <img
          src={heroImage}
          alt={title}
          class="w-full h-48 object-cover"
          transition:name={`image-${slug}`}
        />
    
        <div class="p-6">
            <span 
              class="text-sm text-primary bg-primary/10 px-3 py-1 rounded-sm bg-black text-white font-medium uppercase ml-[-24px]"
              transition:name={`category-${slug}`}
            >
              {category}
            </span>
            <h3 class="mt-2 text-xl font-semibold">
              <a 
                href={`/noticias/${slug}/`} 
                class="hover:text-primary"
                transition:name={`title-${slug}`}
              >
                {title}
              </a>
            </h3>
            <p 
              class="mt-2 text-gray-600 line-clamp-2"
              transition:name={`desc-${slug}`}
            >
              {description}
            </p>
            <div class="mt-4 flex items-center text-sm text-gray-500">
              <time 
                datetime={pubDate.toISOString()}
                transition:name={`date-${slug}`}
              >
                {pubDate.toLocaleDateString('es-ES', {
                  year: 'numeric',
                  month: 'long',
                  day: 'numeric',
                })}
              </time>
            </div>
        </div>
    </a>
</article> 
