---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from './BaseLayout.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Comments from '../components/Comments.astro';

type Props = CollectionEntry<'noticias'>['data'];

const { title, description, pubDate, updatedDate, heroImage, category } = Astro.props;
const slug = Astro.url.pathname.split('/').filter(Boolean).pop();
---

<BaseLayout title={title} description={description}>
	<!-- Hero image section - full width -->
	<div 
		class="w-full h-[60vh] min-h-[400px] relative mb-12"
		transition:name={`post-${slug}`}
	>
		<img
			src={heroImage}
			alt={title}
			class="w-full h-full object-cover"
			transition:name={`image-${slug}`}
		/>
	</div>

	<article class="container mx-auto px-4">
		<div class="max-w-4xl mx-auto">
			<header class="mb-8">
				<div class="mb-4">
					<span 
						class="text-sm text-primary bg-primary/10 px-3 py-1 rounded-sm bg-black text-white font-medium uppercase"
						transition:name={`category-${slug}`}
					>
						{category}
					</span>
				</div>
				<h1 
					class="text-4xl font-bold mb-4 border-b-[2px] border-gray-900 pb-6"
					transition:name={`title-${slug}`}
				>
					{title}
				</h1>
				<div 
					class="text-gray-600 mb-4 text-sm"
					transition:name={`date-${slug}`}
				>
					<FormattedDate date={pubDate} />
					{
						updatedDate && (
							<span>
								{' '}
								<span>•</span>
								{' '}
								Última actualización: <FormattedDate date={updatedDate} />
							</span>
						)
					}
				</div>
			</header>

			<div class="prose prose-lg max-w-none">
				<slot />
			</div>
			<div class="mt-12">
				<h1 class="text-2xl font-bold mb-4 border-b-[2px] border-gray-900 pb-6">Comentarios:</h1>
				<Comments />
			</div>
		</div>
	</article>

</BaseLayout>

<style is:global>
	.prose img {
		@apply max-w-[1020px] max-h-[680px] mx-auto rounded-lg shadow-lg object-cover;
	}
</style>
